body {
    margin : 0px;
    padding: 0px;
    width: 100%;
    font-family: Helvetica;
    font-size: 13px;
    font-weight: lighter;
    background-color: #474747;
    border-spacing: 0px;
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
    overflow : hidden;
}

#search_bar {
    width: 163px;
    border: 1px solid #C0C0BA;
    font-size: 85%;
    padding: 4px 15px 4px 30px;
    height: 14px;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    background:#FFFFFF url(search.png) no-repeat 4px 4px;
    position: relative;
    left: 50px;
    top: 20px;
}

#new_playlist_name {
    display: none;
}

#container_top{
    position: relative;
    width: 100%;
    height: 50px;
    background: rgb(236,236,238); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(236,236,238,1) 0%, rgba(176,176,178,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(236,236,238,1)), color-stop(100%,rgba(176,176,178,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(236,236,238,1) 0%,rgba(176,176,178,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(236,236,238,1) 0%,rgba(176,176,178,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(236,236,238,1) 0%,rgba(176,176,178,1) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(236,236,238,1) 0%,rgba(176,176,178,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ececee', endColorstr='#b0b0b2',GradientType=0 ); /* IE6-9 */
}

#add_playlist {
    position: relative;
    top: 10px;
    left: 10px;
    width: 115px;
    color: white;
    background-color: #2e2e2e;
    text-align: center;
    padding: 2px 0px;
    border-radius : 5px;
}

#add_playlist:hover {
    background-color: #1C1C1C;
    cursor: pointer;
}

.middle_container {
	position: fixed;
	left:250px;
	bottom: 0px;
	top : 45px;
	width: 700px;
	background-color: #373737;
	margin-left: 5px;
	margin-top: 5px;
	overflow: auto;
	z-index: 2;
}

